<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>灯控助手</title>
    <link rel="stylesheet" href="{{url_for('static', filename='light.css')}}">
</head>
<body>
    <h1>hello world</h1>
    <button class="open">开灯</button>
    <button class="close">关灯</button>
</body>
<script src={{ url_for('static', filename='jquery3.4.1.min.js') }}></script>
<script>
    $('.close').on('click', function (){controlLight('turnoff', '关灯')})
    $('.open').on('click', function (){controlLight('turnon', '开灯')})

    function controlLight(page, msg){
        uri = '/' + page
        $.ajax({
            url:uri,
            type:'GET',
            dataType:'json',
            data:{},
            async:true,
            success:function (data) {
                // alert(msg)
            }
        })
    }
</script>
</html>